/* Стили для контейнера с колесом */
* {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
}
/* Стили для Neumorphism эффекта для сегментов */
.wheel-segment {
  // filter:
  //         drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2))
  //         drop-shadow(-2px -2px 5px rgba(255, 255, 255, 0.3)); /* Эффект Neumorphism */
  transition: all 0.3s ease;  /* Плавные изменения */
}

/* Стиль для текста */
.wheel-text {
  font-size: 7px;
  text-anchor: middle;
  pointer-events: none;
}

/* Окружение для контейнера с колесом */
.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: relative;
}

/* Статичная тень под колесом */
.wheel-shadow {
  position: absolute;
  top: 9px;
  width: calc(400px - 1.4rem);
  height: calc(400px - 1.4rem);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), transparent);
  border-radius: 50%;
  z-index: 0;
  box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff, 10px 10px 30px rgba(0, 0, 0, 0.2); /* Эффект объемной тени */
}
/* Стили для SVG (колесо) */
.wheel-svg {
  width: 400px;
  height: 400px;
  transform-origin: center center; /* Центрируем вращение */
  transition: transform 1s cubic-bezier(0.42, 0, 0.58, 1); /* Плавное вращение */
  border-radius: 50%;
}

/* Стили для кнопки */
.wheel-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  background: #e0e0e0;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: all 0.3s ease;
}

.wheel-button:hover {
  background: #d9d9d9;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.wheel-button:active {
  background: #cfcfcf;
  box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}

.wheel-button:disabled {
  background: #d1d1d1;
  color: #aaa;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  cursor: not-allowed;
}



/* Стили для стрелки указателя */
.pointer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ff5c5c;
  z-index: 10;
}
